<%
{include/config.i}
{include/contenttype.i "text/html;charset=UTF-8"}
{include/app.i}

%>
<!DOCTYPE html>
<html lang="pt-br">

<html>
	<head>
		<meta http-equiv="Expires" content="0">
		<meta http-equiv="Cache-Control" content="no-cache" >
		<meta http-equiv="Pragma" content="no-cache">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  		<meta name="description" content="">
  		<meta name="author" content="">
		<title>Portal SAC Ingleza</title>
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="' app_config.caminho_assets '/js/vendor/html5shiv.js"></script>
			<script src="' app_config.caminho_assets '/js/vendor/respond.min.js"></script>
		<![endif]-->
		<!-- Custom fonts for this template-->
		<link href="<%=app_config.caminho_assets%>/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	  
		<!-- Custom styles for this template-->
		<link href="<%=app_config.caminho_assets%>/css/sb-admin-2.min.css" rel="stylesheet">

		<script >
			function teste(){
				alert('metodo teste acionado.');
			}

		</script>

	</head>
	<body class="bg-gradient-primary">

		<div class="container">

			<%
				IF app_config.habilita_log THEN DO:
					MESSAGE retorna_cabecalho_mensagem_log(APPPROGRAM).
					MESSAGE "|Email.........: " get-value("email").				
					MESSAGE retorna_rodape_mensagem_log(APPPROGRAM).
				END.

				DEF VAR c-email 					AS CHAR.
				DEF VAR c-novaSenha				AS CHAR.
				DEF VAR c-body						AS CHAR.
				DEF VAR i-msg-redireciona AS INT.
				DEF VAR c-status					AS CHAR.

				ASSIGN c-email = get-value('email').

				IF request_method = "POST" THEN DO:					
				
					IF CAN-FIND(FIRST usuar_mestre where usuar_mestre.cod_e_mail_local = c-email ) THEN	DO:						

						FOR EACH usuar_mestre EXCLUSIVE-LOCK where usuar_mestre.cod_e_mail_local = c-email :

							assign 	c-novaSenha	= string(RANDOM(1,9999999)).

							/** Totvs11 */
							assign usuar_mestre.cod_senha            = BASE64-ENCODE(SHA1-DIGEST(lc(cpc-in(c-novaSenha))))
										  usuar_mestre.cod_senha_framework  = usuar_mestre.cod_senha
											usuar_mestre.dat_valid_senha      = today + 1
											usuar_mestre.dat_fim_valid				= today + 1
											i-msg-redireciona                 = 8 /* Senha modificada com sucesso! */ .
						END.	

						c-body = " O Sistema de Manifestações recebeu uma solicitacao de envio de senha para o usuário " +  c-email  + " . " + CHR(13) + CHR(13) +
             				 " Senha Gerada Automaticamente pelo Sistema: " + c-novaSenha + CHR(13) + CHR(13) + CHR(10) + 
             				 " IMPORTANTE, por questõees de segurança e confidencialidade, altere a senha conforme sua preferência no primeiro acesso." + CHR(13) + CHR(13) +
             				 " Obrigado."  + CHR(13) + CHR(13) + CHR(10) + 
		     						 " Para acessar o portal basta clicar no link: https://inglezaonline.com.br/cgi-bin/ws.do/WService=sac/login".
						
						RUN pi-envia-email(INPUT app_config.email_remetente_solic, INPUT c-email, INPUT 'Senha de acesso SAC', INPUT (c-body), OUTPUT c-status, INPUT 'Password').
								
						RUN pi-redireciona(INPUT "login", i-msg-redireciona).
						STOP.

					END.
					ELSE DO:
						RUN pi-redireciona(INPUT "forgot-password.", 9).
						STOP.
					END.
				END.

				CASE get-value("status"):
					WHEN ENCODE("9") THEN DO:
					%>
						<div class="alert alert-danger">Email informado inv&aacute;lido ou n&atilde;o encontrato!</div>
					<%
					
					END.
				END CASE.
			%>		

    <!-- Outer Row -->
    <div class="row justify-content-center">

		<div class="col-xl-6 col-lg-6 col-md-8">
  
		  <div class="card o-hidden border-0 shadow-lg my-5">
			<div class="card-body p-0">
			  <!-- Nested Row within Card Body -->
			  <div class="row">				
				<div class="col-lg-12">
				  <div class="p-5">
					<div class="text-center">
					  <h1 class="h4 text-gray-900 mb-4">Esqueceu sua senha?</h1>
					</div>
					<form class="user" action="forgot-password.html" method="POST">
					  <div class="form-group">
							<input type="email" class="form-control border-left-primary" id="email" name="email" aria-describedby="emailHelp" value="<%=c-email%>" placeholder="Informe seu endere&ccedil;o de email...">
						</div>
						<hr>
						<button class="btn btn-lg btn-primary btn-block" type="submit">Enviar nova senha</button>	
						<a class="btn btn-lg btn-secondary btn-block" href="login">Voltar</a>				  
					</form>
					<hr>					
				  </div>
				</div>
			  </div>
			</div>
		  </div>
  
		</div>
  
	  </div>
  
	</div>	
	<!-- Bootstrap core JavaScript-->
	<% {view/layout/html_footer.i} %>   
  </body>
</html>
