<%
{include/config.i}
{include/seguranca.i "GET|POST"}
{include/contenttype.i "text/html;charset=UTF-8"}
{include/app.i}

/**
 * 
 * ---------------
 *
 *  - Portal de Solicitacoes
 *
 * Autor: carloseloi.prado@gmail.com
 */

%>

<!DOCTYPE html>
<html>

<% {view/layout/html_head_open_manifestacao.i} %>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <% {view/layout/html_menu.i} %>

    <!-- Begin Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <% {view/layout/html_topbar.i} %>

        <!-- Begin Page Content -->
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Minhas Manifesta&ccedil;&atilde;es</h1>
            <p class="mb-4">Manifesta&ccedil;&atilde;es cadastradas pelo usu&aacute;rio.</p>
  
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Minhas Manifesta&ccedil;&atilde;es:</h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
                    
                  </table>
                </div>
              </div>
            </div>

          </div>
          <!-- /.container-fluid -->
         <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <% {view/layout/html_copyright.i} %>

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <% {view/layout/html_logoutmodal.i} %>

  <% {view/layout/html_footer_open_manifestacao.i} %>

</body>
</html>
